Repository StateOfJS/Monorepo, pull requests merged in 2022-02, with the labels that each got.

#65 Add the ability to zoom in the tools scatterplot
  results/package.json
  results/src/core/blocks/block/BlockVariant.tsx
  results/src/core/blocks/tools/ToolsQuadrantsBlock/ToolsQuadrantsBlock.tsx
  results/src/core/blocks/tools/ToolsQuadrantsBlock/ToolsQuadrantsChart/Crosshair.tsx
  results/src/core/blocks/tools/ToolsQuadrantsBlock/ToolsQuadrantsChart/Node.tsx
  results/src/core/blocks/tools/ToolsQuadrantsBlock/ToolsQuadrantsChart/Nodes.tsx
  results/src/core/blocks/tools/ToolsQuadrantsBlock/ToolsQuadrantsChart/Quadrant.tsx
  results/src/core/blocks/tools/ToolsQuadrantsBlock/ToolsQuadrantsChart/Quadrants.tsx
  results/src/core/blocks/tools/ToolsQuadrantsBlock/ToolsQuadrantsChart/ToolsQuadrantsChart.tsx
  results/src/core/blocks/tools/ToolsQuadrantsBlock/ToolsQuadrantsChart/config.ts
  results/src/core/blocks/tools/ToolsQuadrantsBlock/ToolsQuadrantsChart/index.ts
  results/src/core/blocks/tools/ToolsQuadrantsBlock/ToolsQuadrantsChart/state.ts
  results/src/core/blocks/tools/ToolsQuadrantsBlock/hooks.ts
  results/src/core/blocks/tools/ToolsQuadrantsBlock/index.ts
  results/src/core/blocks/tools/ToolsQuadrantsBlock/types.ts
  results/src/core/blocks/tools/ToolsScatterplotBlock.js
  results/src/core/charts/ChartContainer.tsx
  results/src/core/charts/tools/ToolsScatterplotChart.js
  results/src/core/helpers/blockRegistry.js
  results/src/core/types/block.ts
  results/src/stylesheets/_charts.scss
  results/tsconfig.check.json
  results/tsconfig.json
Labels: enhancement, results, chart

#66 Tools Experience Transitions API + Generic Transitions Pipeline
  api/src/compute/experience.ts
  api/src/compute/yearly_transitions.ts
  api/src/data/locales.yml
  api/src/playground.ts
  api/src/resolvers/surveys.ts
  api/src/standalone.ts
  api/src/type_defs/tools.graphql
  api/src/types/surveys.ts
  api/webpack.common.js
Labels: API

#60 Update locales.yml
  api/src/data/locales.yml
Labels: API, i18n
